{% load static %}<hr>
    <div class="container p-2">
        <div class="row">
            <div class="col-lg-4 mb-2 mb-sm-4">

                <div class="item">

                    <div class="bg-rb p-1">
                        <img src="{%  static 'img/book.png'%} " alt="" class="p-3">
                        <p>Мектепке дейінгі және орта білім ұйымдарының оқулықтары мен ОӘК-лерін сараптау</p>
                    </div>
                    <span class="information d-flex align-items-center justify-content-center">
            <a href="/mektepke-deingi-zhane-orta-bilim-jymdaryny-oulytar/"><strong>Тарауға өту</strong> </a>
          </span>

                </div>
            </div>
            <div class="col-lg-4  mb-2 mb-sm-4">

                <div class="item">

                    <div class="bg-rb  p-1">
                        <img src="{%  static 'img/homework.png'%}" alt="" class="p-3">
                        <p>Қосымша әдебиетті сараптау<br><br></p>
                    </div>
                    <span class="information d-flex align-items-center justify-content-center">
            <a href="/qosymsha-adebietti-saraptau/"><strong>Тарауға өту</strong> </a>
          </span>

                </div>
            </div>
            <div class="col-lg-4  mb-2 mb-sm-4">

                <div class="item">

                    <div class="bg-rb p-1">
                        <img src="{%  static 'img/school.png'%}" alt="" class="p-3">
                        <p>Оқулықтардың мектептерге жеткізілуін мониторингтеу</p>
                    </div>
                    <span class="information d-flex align-items-center justify-content-center">
            <a href="/oqulytardy-mektepterge-zhetkiziluin-monitoringteu/"><strong>Тарауға өту</strong> </a>
          </span>

                </div>
            </div>
            <div class="col-lg-4 mb-2 mb-sm-4">

                <div class="item">

                    <div class="bg-rb p-1">
                        <img src="{%  static 'img/pencil.png'%}" alt="" class="p-3">
                        <p>Мектепке дейінгі және орта білім ұйымдарының оқу жоспарлары мен бағдарламаларын сараптау</p>
                    </div>
                    <span class="information d-flex align-items-center justify-content-center">
            <a href="/mektepke-dejingi-zhne-orta-bilim-jymdaryny-ou-zhos/"><strong>Тарауға өту</strong> </a>
          </span>

                </div>
            </div>
            <div class="col-lg-4  mb-2 mb-sm-4">

                <div class="item">

                    <div class="bg-rb p-1">
                        <img src="{% static 'img/presentation.png' %}  " alt="" class="p-3">
                        <p>Оқулықтану теориясы мен практикасын жетілдіру жөніндегі зерттеу жобалары</p>
                    </div>
                    <span class="information d-flex align-items-center justify-content-center">
            <a href="/mektepke-dejingi-zhne-orta-bilim-jymdaryny-ou-zhos/"><strong>Тарауға өту</strong> </a>
          </span>

                </div>
            </div>
            <div class="col-lg-4  mb-2 mb-sm-4">

                <div class="item">

                    <div class="bg-rb p-1">
                        <img src="{% static 'img/anticor.png' %}" alt="" class="p-3">
                        <p>Antikor<br><br></p>
                    </div>
                    <span class="information d-flex align-items-center justify-content-center p-6">
            <a href="/antikor/"><strong>Тарауға өту</strong> </a>
          </span>

                </div>
            </div>


        </div>
    </div>