{% extends 'base.html' %}
{% load thumbnail static %}
{% block title %} {{ post.name }} {% endblock %}
{% block content %}
    <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="text-center mt-5">
                        {{ post.name }}
                    </h1>

                </div>

            </div>
        </div>
        <hr>
<div class="container">
            <div class="row ">
                {% for photo in photoitems %}
                    <div class="col-sm-3  mb-5 mb-sm-5 ">
                     {% if photo.image %}

                                    {% thumbnail photo.image "600x412" crop="center" as im %}
<a href="{{ photo.image.url }}" data-lightbox="imgGLR" class="h 100">
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                            class="img-fluid shadow-2-strong" alt="{{ photo.title }}"></a>
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="{% static 'img/no_photo.jpg' %}" class="img-fluid">
                                {% endif %}

{#                    <a href="https://mdbootstrap.com/img/new/standard/city/059.jpg" >#}
{#                        <img class="img-fluid shadow-2-strong" src="https://mdbootstrap.com/img/new/standard/city/059.jpg"></a>#}
                    </div>
                {% endfor %}



            </div>
        </div>
{% endblock %}
  {% block js %}


    <!-- MDB -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
{#      <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">#}
{#        <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>#}
        <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}